In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
countiesPath = "Resources/COVID19_County.csv"


# Read the mouse data and the study results
counties = pd.read_csv(countiesPath)

# Display the data table for preview
counties.head()

,County Name,Most Recent Date,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,ICU COVID-19 Positive Patients
0,Alameda,4/1/20,287.0,8.0,52.0,27.0
1,Alameda,4/2/20,345.0,10.0,57.0,29.0
2,Alameda,4/3/20,395.0,11.0,64.0,32.0
3,Alameda,4/4/20,468.0,12.0,60.0,35.0
4,Alameda,4/5/20,475.0,12.0,72.0,39.0

In [2]:
Total = counties.groupby('County Name').sum()['Total Count Confirmed'].astype(int)
Death = counties.groupby('County Name').sum()['Total Count Deaths'].astype(int)
Positive = counties.groupby('County Name').sum()['COVID-19 Positive Patients'].astype(int)
ICU = counties.groupby('County Name').sum()['ICU COVID-19 Positive Patients'].astype(int)

summary_table = pd.DataFrame({"Total Count Confirmed":Total,
                              "Total Count Deaths":Death,
                              "COVID-19 Positive Patients":Positive,
                              "ICU COVID-19 Positive Patients":ICU})

summary_table

,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,ICU COVID-19 Positive Patients
County Name,,,,
Alameda,99803,3576,4834,2256
Alpine,60,0,0,0
Amador,424,0,0,0
Butte,1175,0,119,49
Calaveras,648,0,3,3
Colusa,181,0,20,16
Contra Costa,53471,1446,1474,628
Del Norte,381,0,0,0
El Dorado,2867,0,246,13
Fresno,42822,649,2621,900
Glenn,353,0,0,0
Humboldt,3375,21,121,22
Imperial,29680,604,2455,815
Inyo,1041,37,149,18
Kern,59909,790,2199,1158
Kings,11249,65,739,202
Lake,392,0,4,0
Lassen,4,0,0,0
Los Angeles,1480362,67492,94647,31435
Madera,3123,118,17,2
Marin,14688,691,192,80
Mariposa,447,15,0,0
Mendocino,550,0,34,15
Merced,8004,215,237,127
Modoc,2,0,1,0
Mono,1543,60,154,0
Monterey,13531,312,664,211
Napa,3874,136,41,32
Nevada,2115,58,126,39
Orange,174911,3610,12423,4956
Placer,8746,445,579,188
Plumas,220,0,0,0
Riverside,226430,9725,11771,4056
Sacramento,59182,2439,2318,926
San Benito,2854,114,51,26
San Bernardino,135370,5735,8709,3231
San Diego,230723,9187,16417,6963
San Francisco,92420,1531,4148,1592
San Joaquin,30538,1430,1236,528
San Luis Obispo,10622,56,144,113
San Mateo,72783,2936,2811,953
Santa Barbara,47460,433,1679,809
Santa Clara,121798,6095,5927,2671
Santa Cruz,7408,121,181,81
Shasta,1671,209,75,50
Sierra,8,0,0,0
Siskiyou,303,0,3,0
Solano,16075,484,825,407
Sonoma,15706,171,250,93
Stanislaus,21797,787,1337,338
Sutter,1621,115,0,0
Tehama,81,46,0,0
Trinity,23,0,0,0
Tulare,49462,2327,1563,458
Tuolumne,116,0,0,0
Ventura,35214,1084,1619,590
Yolo,8444,831,90,44
Yuba,985,51,38,18

In [3]:
summary_table = summary_table.sort_values(by=['Total Count Confirmed'], ascending= False)

In [4]:
summary_table.to_csv('ByCounties2.csv')